body{
    /* background-color: #14191a !important; */
    background-color: #06121F !important;
}
* {
    color: #ffffff93 !important;
}
@media (max-width: 991px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
    visibility: visible !important;
  }
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}

#app {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}