body {
    background-color: #06121F !important;
}

* {
    color: #ffffff93 !important;
}

html, body, #app {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden !important;
}

@media (max-width: 991px) {
    [data-aos] {
        transition-property: transform, opacity !important;
    }
}